.heading{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;
    padding-bottom: 32px;
    padding-right: 97px;
    margin-right: 250px;
}
.header-img{
    width: 435x;
    height: 600px;
    flex-shrink: 0;
    margin-right: 240px;
}
.first-p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    padding-right: 97px;
    margin-right: 250px;
}
.header{
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 800px;
    flex-shrink: 0;
    padding-left: 240px;
}
.image{
    display: flex;
    align-items: center;
    padding-right: 272px;
}
.button{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 20px 43px;
    border: 0;
}
.footer{
    background: #111010;
    width: 2150px;
    height: 449px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
}
.footer-p{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 126px;
    margin-bottom: 24px;
    margin-left: 831px;
    margin-right: 832px;
}
#White{
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.para{
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 648px;
    padding-right: 649px;
    padding-bottom: 32px;
}
  .heading2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    padding-top: 122px;
  }
/* Position the form inside the container */
.container {
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background: url('Flower Asset/Rectangle\ 9.png'), lightgray 0px -203.444px / 100% 213.755%;
    background-repeat: none;
    padding-left: 240px;
  }
  
  #email{
    width: 700px;
    height: 64px;
  }
  .styled-form{
    padding-left: 287px;
  }
  
  
